services:
  app:
    build: .
    container_name: node_app
    restart: always
    ports:
      - "5000:5000"              
    environment:
      NODE_ENV: development
      POSTGRES_HOST: postgres
      POSTGRES_DATABASE: user_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: POSTGRES_PASS

    depends_on:
      - postgres
    volumes:
      - .:/usr/src/app           # hot-reload
      - /usr/src/app/node_modules

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: POSTGRES_PASS
      POSTGRES_DB: user_service
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres

volumes:
  pgdata:
